@using Domain.Entites
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column" style="border-radius: 10px; background-color: #f7f2e7; border: 1px solid #c3ae85; padding: 10px;">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
            Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
            Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
            Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
                External Logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
            Two-Factor Authentication
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" style="color: #c3ae85; border-radius: 10px; margin-bottom: 5px; background-color: white;">
            Personal Data
        </a>
    </li>
</ul>
