@model Domain.Entites.Author

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            Cover Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/images/author/" + Model.CoverImage)" alt="@Model.FullName" style="width:200px; height:auto;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
