@model Shared.DTOs.BookDetailsDTO

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
        <dt class="col-sm-2">
            Availability
        </dt>
        <dd class="col-sm-10">
            @(Model.IsAvailable ? "Available" : "Not Available")
        </dd>
        <dt class="col-sm-2">
            Cover Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.CoverImage != null)
            {
                <img src="@Url.Content($"~/images/book/{Model.CoverImage}")" alt="Cover Image" width="50" height="50" />
            }
            else
            {
                <span>No Cover Image</span>
            }
        </dd>
        <dt class="col-sm-2">
            Publication Date
        </dt>
        <dd class="col-sm-10">
            @Model.PublicationDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Model.AuthorName
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryName
        </dd>
        <dt class="col-sm-2">
            Language
        </dt>
        <dd class="col-sm-10">
            @Model.BookLanguage
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
