@model IEnumerable<Shared.DTOs.BookDetailsDTO>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-warning">Create New Book</a>
</p>
<div class="table-responsive">
<table class="table table-striped table-hover">
        <thead style="background-color:orange">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>IsAvailable</th>
            <th>Cover Image</th>
            <th>Publication Date</th>
            <th>Author</th>
            <th>Category</th>
            <th>Is Deleted</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.Price</td>
                <td>@book.Quantity</td>
                <td>@book.IsAvailable</td>

                <td>
                    @if (!string.IsNullOrEmpty(book.CoverImage))
                    {
                        <img src="@Url.Content($"~/images/book/{book.CoverImage}")" alt="Cover Image" width="50" height="50" />
                    }
                </td>
                <td>@book.PublicationDate.ToShortDateString()</td>
                <td>@book.AuthorName</td> <!-- Updated to AuthorName -->
                <td>@book.CategoryName</td> <!-- Updated to CategoryName -->
                
                <td>@book.IsDeleted</td>
                <td>@book.CreatedOn.ToShortDateString()</td>
                <td>@book.UpdatedOn?.ToShortDateString()</td>
                <td>
                        <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-primary">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-secondary">Edit</a>
                    </td>
                    <td>
                    <form asp-action="Delete" asp-route-id="@book.Id" method="post" style="display:inline">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
					</td>
            </tr>
        }
    </tbody>
</table>
</div>